$contentWidth: 600px;
$contentHeight: 200px;

$colorBlue: #0088ca;
$colorBlueLight: #5490cd;
$colorBlueVeryLight: #5aa1e3;
$colorBlueDark: #00264d;
$colorBlack: #000;
$colorGreyVeryDark: #4c4c4c;
$colorGreyDark: #ccc;
$colorGreyLight: #eee;
$colorWhite: #fff;

$shadowColor: $colorBlack;
$defaultBgColor: $colorBlueLight;
$defaultFontColor: $colorWhite;

$defaultFontSize: 1.4rem;
$bigFontSize: 2rem;
$largeFontSize: 3rem;
$smallFontSize: 0.7rem;

$boldWeight: 700;

$defaultFontFamily: Arial, "Helvetica Neue", Helvetica, sans-serif;
$monoFontFamily: 'Roboto Mono', monospace;
$titleFontFamily: 'Bowlby One', cursive;
$footerFontFamily: 'Bowlby One', cursive;

$headerPadding: 12px;
$contentPadding: 30px;
$footerPadding: 15px 0;
$uuidPadding: 10px;
