$contentWidth: 600px;
$contentHeight: 200px;

$colorGreen: #19801f;
$colorBlueLight: #5490cd;
$colorBlueVeryLight: #5aa1e3;
$colorBlueDark: #00264d;
$colorBlueDarkABit: #1b3e67;
$colorBlack: #000;
$colorGreyDark: #ccc;
$colorGreyLight: #eee;
$colorWhite: #fff;

$shadowColor: $colorBlack;
$defaultBgColor: $colorBlueLight;
$defaultFontColor: $colorWhite;

$defaultFontSize: 1.4rem;
$largeFontSize: 3rem;
$midFontSize: 1rem;
$smallFontSize: 0.7rem;

$boldWeight: 700;

$defaultFontFamily: Arial, "Helvetica Neue", Helvetica, sans-serif;
$monoFontFamily: 'Roboto Mono', monospace;
$titleFontFamily: 'Bowlby One', cursive;
$footerFontFamily: 'Roboto', sans-serif;

$headerPadding: 12px;
$contentPadding: 30px;
$footerPadding: 10px 0;
$uuidPadding: 10px;
