@import "variables";

button.toolbar-button {
    background: none;
    border: none;
    color: $colorGreyDark;
    cursor: pointer;
    outline: 0;

    &:hover {
        color: $colorGreyLight;
    }
}