@import "variables";
@import "mixins";

.uuid-value {
    @include comic-text-shadow(1px, 3px, $shadowColor);
    display: inline-block;
    font-weight: $boldWeight;
    font-family: $monoFontFamily;
    font-size: $bigFontSize;
    margin: $monoMargin;
}