@import "../../styles/variables";
@import "../../styles/mixins";

.toolbar-button {
    color: $colorWhite;
    background-color: $colorBlueDarkABit;
    border: none;
    font-size: $midFontSize;
    padding: 8px 10px;
    border-radius: 3px;
    cursor: pointer;
    vertical-align: middle;
    font-weight: 400;

    &:hover {
        background-color: $colorBlueDark;
    }

    &:focus {
        outline: none;
    }

    &__label {
        margin-left: 7px;
    }
}
