@import "../../styles/variables";
@import "../../styles/mixins";

button.toolbar-button {
    @include comic-text-shadow();
    background-color: $colorBlack;
    opacity: 0.5;
    border: none;
    color: $colorGreyLight;
    cursor: pointer;
    outline: 0;
    padding: 5px 7px;
    border-radius: 3px;

    &:hover {
        opacity: 1;
    }
}