@import "../../styles/variables";
@import "../../styles/mixins";

.uuid-value {
    @include comic-text-shadow(1px, 3px, $shadowColor);
    display: inline-block;
    font-weight: $boldWeight;
    font-family: $monoFontFamily;
    font-size: $defaultFontSize;
    color: $colorWhite;
    background-color: transparent;
    border: none;
    text-align: center;
    width: 90%;
    padding: $uuidPadding;

    &:hover {
        background-color: $colorBlueVeryLight;
        cursor: pointer;
    }
}
