@import "../../styles/variables";
@import "../../styles/mixins";

.uuid {
    margin: 15px 0;

    &__value {
        @include comic-text-shadow(1px, 3px, $shadowColor);
        display: inline-block;
        font-weight: $boldWeight;
        font-family: $monoFontFamily;
        font-size: $defaultFontSize;
        color: $colorWhite;
        background-color: transparent;
        border: none;
        text-align: center;
        padding: $uuidPadding;
        margin: 0 5px;

        &:hover {
            background-color: $colorBlueVeryLight;
            cursor: pointer;
        }
    }

    &__toolbar-button {
        color: $colorWhite;
        background-color: $colorBlueDarkABit;
        border: none;
        font-size: $midFontSize;
        padding: 3px 5px;
        border-radius: 3px;
        cursor: pointer;
        vertical-align: middle;

        &:hover:not(&--checked) {
            background-color: $colorBlueDark;
        }

        &:focus {
            outline: none;
        }

        &--checked {
            background-color: $colorGreen;
        }
    }
}
