@import "../../styles/variables";
@import "../../styles/mixins";

.footer {
    position: fixed;
    width: 100%;
    left: 0;
    bottom: 0;
    text-align: center;
    font-family: $footerFontFamily;
    font-size: $smallFontSize;
    padding: $footerPadding;
    background-color: $colorBlueVeryLight;
    font-weight: 700;

    &__text {
        color: $defaultFontColor;
    }

    &__link {
        color: $defaultFontColor;
    }
}
